meta(charset='utf-8')
meta(name='description', content=data.description)
meta(name='keywords', content=data.keywords)
meta(name='viewport', content='width=device-width')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title= data.title
