<footer class="l-footer" role="contentinfo">
    <div class="l-footer_inner">
        <p class="l-footer_copyright">
            <small>&copy; Orgazination Name</small>
        </p>
    </div>
</footer>
