<header class="l-header">
    <div class="l-header_inner">
        <div class"c-brand"><a class="c-brand_logo" href="http://www.example.com/"><img src="<%= cdnRoot %>resources/img/c-brand_logo.svg" alt="LOGO"></a></div>
    </div>
</header>
