.l-footer {
  min-width: var(--pageWidth);
}
.l-footer_inner {
  width: var(--pageWidth);
  margin: auto;
  border-top: #ccc 1px solid;
  padding: 16px 0 32px;
}
.l-footer_copyright {
  margin: 0;
  color: #999;
  font-size: 12px;
}

