<% data = JSON.parse(include('/_data/site.json')) %>
<% function headCustom() { %>
<% } %>
<% function footCustom() { %>
<% } %>
<% function content() { %>
    <p>Test</p>
<% } %>
<%- include /_layout/default %>
